.nav-link {
    height: auto;
    width: 100%;
    background: rgb(250, 250, 250);
    display: block;
    float: left;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-size: xxx-large;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    padding: 0 1vw;
}

.nav-link:hover {
    filter: invert();
}

jhe-nav .nav-links-div {
    display: none;
    overflow: hidden;
}

jhe-nav.open .nav-links-div {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
}

jhe-nav {
    background: #adadad;
    position: absolute;
    top: 5px;
    right: 5px;
    left: unset;
    width: 64px;
    height: 64px;
    background: #fafafa;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 2;
}

jhe-nav.open {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.nav-logo {
    display: none;
}

jhe-nav.open .nav-logo {
    width: 100%;
    display: block;
    height: 100px;
}

jhe-nav .icon-menu {
    width: 90%;
    height: 90%;
    position: absolute;
    right: 5%;
    top: 5%;
    display: block;
}

jhe-nav.open .icon-menu {
    display: none;
}

#nav-home-link {
    display: block;
}

@media screen and (min-width: 769px) {
    jhe-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 7vw;
        max-height: 128px;
        min-height: 64px;
        background: #fafafa;
        box-shadow: 0px 0px 5px 0px black
    }
    .nav-link {
        height: 100%;
        width: auto;
        background: rgb(250, 250, 250);
        display: inline-block;
        float: left;
        text-decoration: none;
        color: rgb(83, 83, 83);
        font-size: xxx-large;
        text-align: center;
        padding-top: 1.5vw;
        margin-left: 10px;
        margin-top: 0px;
    }
    .nav-logo {
        display: inline-block;
        height: 100%;
    }
    jhe-nav .nav-links-div {
        display: block;
        height: 100%;
    }
    jhe-nav .icon-menu {
        display: none;
    }
    #nav-home-link {
        display: inline-block;
    }
}