#page-container {
    padding-top: max(calc(7vw + 10px), 74px);
}

.page-text {
    width: 90%;
    left: 5%;
    position: relative;
    display: block;
    float: left;
}

.flavour-text {
    width: 90%;
}

jhe-carousel {
    width: 90%;
    height: 45vw;
    left: 5%;
    display: block;
    float: left;
    top: 40%;
    position: relative;
    transform: translateY(-50%);
}

jhe-carousel img {
    width: 100%;
    position: absolute;
    box-shadow: 0 0 5px black;
}

@media screen and (min-width: 769px) {
    .page-text {
        width: 45%;
        position: relative;
    }
    .left .page-text {
        left: 5%;
    }
    jhe-carousel {
        width: 45%;
        left: 2.5%;
        height: 30%;
    }
}