#logo-splash {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    cursor: pointer;
}

#text-splash {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: min(5vw, 20pt);
    cursor: pointer;
}

#splash {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgb(220, 220, 220);
    background: radial-gradient(circle, rgba(220, 220, 220, 1) 0%, rgba(187, 187, 187, 1) 80%, rgba(106, 106, 106, 1) 100%);
}

#content {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 769px) {
    #logo-splash {
        width: 75%;
    }
}